{% extends 'base.html' %}

{% block body_class %}main-page{% endblock %}

{% block body %}
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <body class="main-page">
  <div class="row w-100">
    <div class="col-md-12 text-center">
      <div class="custom-banner mx-auto shadow-lg p-4 d-flex flex-column justify-content-center align-items-center">
        <h1 class="cover-heading" style="color: #25593e;">
          Code Tutors
        </h1>

        <p class="cover-text text-muted mb-4">
          Managing students made easy! <br>
          Built by <i>Team Newt</i>
        </p>
        <a href='{% url "sign_up" %}' class="btn btn-lg btn-signup w-50 mb-2">
          <i class="bi bi-person-plus me-2"></i> Sign Up
        </a>


        <div class="separator">
          <span> ----------------- or -----------------</span>
        </div>
        <a href='{% url "log_in" %}' class="btn btn-lg btn-login w-50">
          <i class="bi bi-box-arrow-in-right me-2"></i> Log In
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
