{% block content %}
<div class="container h-100 vcenter-item">
  <div class="cover-card">
    <h1 class="cover-heading">Student List</h1>
    <p class="cover-text">Here is a list of all registered students.</p>
    <ul class="list-group">
      {% for student in students %}
      <li class="list-group-item">
        <div class="profile-image">
          <img src="{{ student.user.mini_gravatar }}" alt="Gravatar of {{ student.user.username }}" />
        </div>
        <div class="profile-text">
          <h3 class="profile-title">
            <a href="{% url 'student_detail' student.id %}"> {{ student.user.full_name }} </a>
          </h3>
          <p class="profile-username">{{ student.user.username }}</p>
          <p class="low-key">{{ student.user.email }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% if not students %}
    <p class="low-key">No students found.</p>
    {% endif %}
  </div>
</div>
{%endblock%}